# Enable CoreDNS in the cluster
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.coreDNS
---
%{ if type == "controlplane" }
cluster:
  coreDNS:
    disabled: ${cluster_coreDNS_disabled}
%{ endif }