# Allow passing extra args to scheduler
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.scheduler
---
%{ if type == "controlplane" }
cluster:
  etcd:
    extraArgs:
%{ for arg in cluster_scheduler_extraArgs ~}
      "${arg.name}": "${arg.value}"
%{ endfor ~}
%{ endif }