# Set the podSubnets CIDR for the cluster
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.network
---
cluster:
  network:
    podSubnets:
      - ${cluster_pod_subnet}