# Allow passing extra args to controllerManager:
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.cluster.controllerManager
---
%{ if type == "controlplane" }
cluster:
  controllerManager:
    extraArgs:
%{ for arg in cluster_controllerManager_extraArgs ~}
      "${arg.name}": "${arg.value}"
%{ endfor ~}
%{ endif }