# Configures the Talos installation on the machine
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.install
---
machine:
  install:
    diskSelector:
%{ for selector in install.diskSelectors ~}
      ${selector}
%{ endfor ~}
    extraKernelArgs:
%{ for arg in install.extraKernelArgs ~}
      - ${arg}
%{ endfor ~}
    image: ${disk_image}
    wipe: ${install.wipe}