# Configures the machine time servers.
# https://www.talos.dev/v1.9/reference/configuration/v1alpha1/config/#Config.machine.time
---
machine:
  time:
    servers:
%{ for server in ntp_servers ~}
      - ${server}
%{ endfor ~}
 