---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Container Validate

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    paths:
      - 'Dockerfile'
      - 'docker-bake.hcl'

jobs:
  container-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Bake & load image for testing
        uses: docker/bake-action@v6
        with:
          load: true
          targets: default
          set: |
            *.tags=ghcr.io/${{ github.repository_owner }}/homelab-modules-runner:validate

      - name: Run Tests
        uses: jmcombs/container-structure-test-action@main
        with:
          image: ghcr.io/${{ github.repository_owner }}/homelab-modules-runner:validate
          config: tests.yaml