---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Tofu Validate

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'modules/**'

permissions:
  contents: write

jobs:
  tofu-validate:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Run Brew Bundle
        run: brew bundle
        
      - name: Fix Tofu
        run: task tofu:fix

      - name: Commit & Push formatting changes
        uses: EndBug/add-and-commit@v9
        with:
          add: "*.md"
